*{
    margin: 0;
    padding: 0;

}
#logo{
     background-color: #0082e6;
    width: 100vw;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#logoimg{
    width: 50vw;
    height: 20vh;

}
#background{
    width: 100vw;
    height: 70vh;
}
#controls{
    height: 9vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
#start,#stop,#changeimage,#fire{
    height: 9vh;
    width:25vw;
    background-color: #0082e6;
    color: white;
    font-size: 2rem;
}
#fighter{
    height: 30vh;
    /* width: 30vw; */
    position: absolute;
    top: 11vh;
    left: 1vw;
}
#energyball1{
    /* height: 20vh; */
    width:20vw;
    position: absolute;
    left: 0vw;
    right: 0vw;
    top: 12vh;
    /* display: none; */
}

#playzone{
    width: 100vw;
    position: absolute;
    top: 31vh;
    /* left: 35vw; */
    height: 45vh;
}
#enemy{
    position: absolute;
    height: 50vh;
    width: 30vw;
    left: 70vw;
    bottom: -1vh;
}
#enemyball{
    /* height: 20vh; */
    width:20vw;
    position: absolute;
    right:0vw;
    top: 6vh;
    /* display: none; */
}