*{
    margin: 0;
    padding: 0;

}
#logo{
     background-color: #0082e6;
    width: 100vw;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#logoimg{
    width: 50vw;
    height: 20vh;

}
#background{
    width: 100vw;
    height: 70vh;
}
#controls{
    height: 9vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
#start,#stop,#changeimage,#fire{
    height: 9vh;
    width:25vw;
    background-color: #0082e6;
    color: white;
    font-size: 2rem;
}
#fighter{
    height: 30vh;
    width: 30vw;
    position: absolute;
    top: 50vh;
    left: 5vw;
}
#energyball1{
    height: 20vh;
    width:20vw;
    position: absolute;
    left: -19vw;
    display: none;
}
#playzone{
    position: absolute;
    top: 50vh;
    left: 35vw;
}
#enemy{
    position: absolute;
    height: 50vh;
    width: 30vw;
    left: 36vw;
    bottom: -1vh;
    top: -27vh;
}